doctype html
main
  form(method="POST")
    input.email(name="email" type='text' placeholder='E-Mail')
    input.name(name="name" required='' maxlength='12' type='text' placeholder='Name')
    input.password(name="password" type='password' placeholder='Password')
    input(type="submit", value="가입")
